.login {
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  background: url("http://bit.ly/2gPLxZ4");
  background: url("https://source.unsplash.com/1920x1080/?lunch,dinner,breakfast");
  */
  background: url("https://source.unsplash.com/1920x1080/?lunch,dinner,breakfast");
  background-repeat: no-repeat;
  background-size: cover;
}
